{block content}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <a href="{link Api:default}">< Back</a>
                <h5 n:block="title">API call</h5>
            </div>
            <div class="ibox-content">
                {control apiConsole}
            </div>
        </div>
    </div>
</div>
